@charset "utf-8";
/* CSS Document */
#header{
	padding: 0px;
    margin: 0px;
}

#titlepic{
	padding: 0px;
    margin: 0px auto;
	width: 972px;
	height: 322px;
}

#headerpic{
	padding: 0px;
    margin: 0px auto;
	height: 178px;
	width: 400px;
}

#content{
	text-align: center;
	font-size: 40px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";	
	width: 643px;
	padding: 0px;
    margin: 0px auto;
}

#content li{
	display:inline;
}

#content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;	
}

a{
	text-decoration: none;
	color:black;	
}
a:hover{
	font-weight: bold;
}

#footer{
	background: #38BCFF;
}
#footer p{
	text-align: center;
}

